@media (max-width: 800px) {}


#left-header {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-between;
}

#left-header div {
    margin: 10px;
    padding: 20px;
}

#left-header #help-desk h1 {
    font-size: 15px;
}

#right-header ul {
    display: flex;
    flex-direction: row;
    float: right;
    align-content: space-between;
}

#right-header ul li {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    margin-top: 0;
}

#miu-image img {
    width: 45px;
    height: 45px;
}

#welcome {
    background-color: #374777;
    clear: both;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    
}

#welcome h1 {
    color: #F3F3F3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

